<div class="container-fluid">
<%- include inc/header %>
<% var modulo  = 'bilhetes_horas' %>
<script>
    $(document).ready(function() {
        $('#docs').DataTable();
    } );
</script>
<div class="col col-lg-12 col-sm-12 col-xl-12">
    <div class="">
        <a href="/<%= modulo %>/cad" class="btn btn-primary btn-sm"><i class="icon-plus"></i></a>
        <a href="/<%= modulo %>" class="btn btn-secondary btn-sm"><i class="icon-list"></i></a>
    </div>
    <br>
    <% if(pg === 'cad'){ %>
    <form method="post" action="/<%= modulo %>.add">
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <label for="param">Parametro</label>
                    <select name="param" id="param" class="form-control">
                        <option value="">-- Selecione --</option>
                        <% parametros.forEach(linhas => { %>
                        <option value="<%= linhas.id %>"><%= linhas.nome %></option>
                        <% }) %>
                    </select> 
                </div>

                <div class="col-1">
                    <label for="lote">Lote</label>
                    <input type="text"
                        class="form-control" name="lote" id="lote" placeholder="Lote">   
                </div>

                <div class="col-2">
                    <label for="tempo">Tempo <small class="text-danger">Em minutos</small></label>
                    <input type="text"
                        class="form-control" required name="tempo" id="tempo" placeholder="Tempo">   
                </div>

                <div class="col-1">
                    <label for="qtd">Quantidade</label>
                    <input type="number"
                        class="form-control" name="qtd" id="qtd" placeholder="Quantidade">   
                </div>


                <div class="col-2">
                    <label for="plano">Plano</label>
                    <select name="plano" id="plano" required class="form-control">
                        <option value="">-- Selecione --</option>
                        <% planos.forEach(linhas => { %>
                        <option value="<%= linhas.id %>"><%= linhas.nome %></option>
                        <% }) %>
                    </select> 
                </div>

                <div class="col-1">
                    <label for="tamanho">Tamanho</label>
                    <select name="tamanho" id="tamanho" required class="form-control">
                        <option value="">0</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select> 
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Grava</button>
                </div>
            </div>
        </div>
    </form>
    <% }else{ %>
        <table id="docs" class="display table" style="width:100%">
            <thead>
                <tr>
                    <th width="1%">#</th>
                    <th>Bilhete</th>
                    <th>Data</th>
                    <th>Tempo</th>
                    <th>Valor</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
        <% if(dados){  %>
            <% dados.forEach(linhas =>{ %>
            <tr>
                <td><%= linhas.id %></td>
                <td><%= linhas.bilhete %></td>
                <td><%= linhas.datac %></td>
                <td><%= linhas.tempo %></td>
                <td><%= linhas.valor_plano %></td>
                <td><%= linhas.st %></td>
            </tr>
            <% }); %>
        <%}else{ %>
        </tbody>
        <% } %>
    </table>
    <% } %>
</div>
<%- include inc/footer %>