<div class="container-fluid">
        <% include inc/header %>
    </div>
    <script>
        $(document).ready(function() {
            $('#docs').DataTable();
        } );
    </script>
<% var modulo  = 'parametros' %>
<div class="col col-lg-12 col-sm-12 col-xl-12">
    <div class="">
        <a href="/<%= modulo %>/cad" class="btn btn-primary btn-sm"><i class="icon-plus"></i></a>
        <a href="/<%= modulo %>" class="btn btn-secondary btn-sm"><i class="icon-list"></i></a>
    </div>
    <br>

    <% if(pg === 'cad' || pg === 'edit'){ %>
        <form method="post" action="/<%= modulo %>.add">
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome">
                    </div>
                </div>
                <!-- <div class="col-4">
                    <div class="form-group">
                        <label for="img" >Imagem</label>
                        <input type="file" class="form-control" name="img" id="img" placeholder="img">
                    </div>
                </div> -->
                
                <div class="col-4">
                    <div class="form-group">
                        <label for="msg" >Mensagem</label>
                        <textarea type="textarea" class="form-control" name="msg" id="msg" placeholder="Mensagem"></textarea>
                    </div>
                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label for="site" >Site</label>
                        <input type="text" class="form-control" name="site" id="site" placeholder="site">
                    </div>
                </div>
                <div class="col-4">
                        <div class="form-group">
                            <label for="qtd_folha" >Folhas</label>
                            <input type="number" min="1" class="form-control" name="qtd_folha" id="qtd_folha" placeholder="Folhas">
                    </div>
                </div>
                <div class="col-4">
                        <div class="form-group">
                            <label for="fonte" >Fonte</label>
                            <input type="number" min="1" class="form-control" name="fonte" id="fonte" placeholder="Fonte">
                    </div>
                </div>
                <div class="col-1">
                        <div class="form-group">
                            <label for="cor" >Cor</label>
                            <input type="color" min="1"  name="cor_fonte" id="cor" placeholder="Cor">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="largura" >Largura</label>
                        <input type="number" min="1" class="form-control" value="1" name="lw" id="largura" placeholder="Largura">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="altura" >Altura</label>
                        <input type="number"  min="1" class="form-control" value="1" name="lh" id="altura" placeholder="Altura">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="dinheiro" >Dinheiro</label>
                        <input type="number" min="1" class="form-control" value="1" name="dinheiro" id="dinheiro" placeholder="Dinheiro">
                    </div>
                </div>
               
                <div class="col-2">
                    <div class="switch">
                            <label for="qr" >QR Code</label>
                            <br>
                            <input type="checkbox" class="switch" value="1" value="1" name="qr" id="qr" >
                            <label for="qr" ></label> 
                    </div>                       
                </div>
                <div class="col-2">
                        <div class="switch">
                            <label for="numero" >Numero</label>
                                <br>
                                <input type="checkbox" class="switch" value="1" name="numero" id="numero" >
                            <label for="numero" ></label> 
                        </div>                       
                </div>

                <div class="col-2">
                        <div class="switch">
                            <label for="maiuscula" >Maiusculo</label>
                                <br>
                                <input type="checkbox" class="switch" value="1" name="maiuscula" id="maiuscula" >
                            <label for="maiuscula" ></label> 
                        </div>                       
                </div>
                <div class="col-2">
                        <div class="switch">
                            <label for="minuscula" >Minusculo</label>
                                <br>
                                <input type="checkbox" class="switch" value="1" name="minuscula" id="minuscula" >
                            <label for="minuscula" ></label> 
                        </div>                       
                </div>
                <div class="col-2">
                        <div class="switch">
                            <label for="simbolo" >Simbolo</label>
                                <br>
                                <input type="checkbox" class="switch" value="1" name="simbolo" id="simbolo" >
                            <label for="simbolo" ></label> 
                        </div>                       
                </div>
                <div class="col-2">
                        <div class="switch">
                            <label for="st" >st</label>
                                <br>
                                <input type="checkbox" class="switch" value="1" name="st" id="st" >
                            <label for="st" ></label> 
                        </div>                       
                </div>
                


            </div>
            <div class="row">
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Gravar</button>
                </div>
            </div>
        </div>
            
        </form>
    <% }else{ %>
        <table id="docs" class="display table" style="width:100%">
            <thead>
                <tr>
                        <th width="1%">#</th>
                        <th>Nome</th>
                        <th>Imagem</th>
                        <th>Msg</th>
                        <th>Site</th>
                        <th>Folhas</th>
                        <th>Cor</th>
                        <th>lw</th>
                        <th>lh</th>
                        <th>Dinheiro</th>
                        <th>Tipo</th>
                        <th>Status</th>
                    <th width="2%">Ações</th>
                </tr>
            </thead>
            <tbody>
        <% if(dados){  %>
            <% dados.forEach(linhas =>{ %>
            <tr>
                <td><%= linhas.id %></td>
                <td><%= linhas.nome %></td>
                <td><%= linhas.img %></td>
                <td><%= linhas.msg %></td>
                <td><%= linhas.site %></td>
                <td><%= linhas.qtd_folha %></td>
                <td><%= linhas.cor_fonte %></td>
                <td><%= linhas.lw %></td>
                <td><%= linhas.lh %></td>
                <td><%= linhas.dinheiro %></td>
                <td><%= linhas.tipo %></td>
                <td><%= linhas.st %></td>
                <td><a href="/<%= modulo %>.edit/<%= linhas.id %>"> <i class="icon-pencil-square-o"></i> </a>
                <a href="/<%= modulo %>.dell/<%= linhas.id %>"><i class="icon-minus-square-o text-danger"></i></a></td>
            </tr>
            <% }); %>
        <%}else{ %>
        </tbody>
        <% } %>
    </table>
    <% } %>
</div>

<% include inc/footer %>






    